html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Open sans', sans-serif;
    font-weight: 300;
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.navbar .brand{
    display: block;
    text-align: center;
    padding: 14px 16px;
    color: white;
    float: left;
}

.navbar ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar ul li {
    float: left;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 200ms;
}

/* Change the link color to #111 (black) on hover */
.navbar ul li a:hover {
    background-color: #111;
}


.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}