{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <form action="/devoir-idc2019/login" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" value="valider">
        </form>
    </section>
{% endblock %}
