{% extends 'base.html.twig' %}

{% block stylesheet %}
    <style>
        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="d-flex w-100 align-items-center justify-content-center" style="height: 100vh">
        <form class="form-signin" method="post">
            <h1 class="h1 mb-3 font-weight-normal">Connexion</h1>
            <label for="username" class="lead">Nom d'utlisateur</label>
            <input type="text" name="username" class="form-control form-control-lg rounded-0 mb-3"
                   placeholder="Nom d'utilisateur" required autofocus>
            <label for="password" class="lead">Mot de passe</label>
            <input type="password" name="password" class="form-control form-control-lg rounded-0 mb-3"
                   placeholder="Mot de passe" required>
            <button class="btn btn-lg btn-dark btn-block rounded-0" type="submit">Login</button>
        </form>
        {#        <form action="/devoir-idc2019/login" method="post">#}
        {#            <input type="text" name="username">#}
        {#            <input type="password" name="password">#}
        {#            <input type="submit" value="valider">#}
        {#        </form>#}
    </div>
{% endblock %}
