<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}
        <link rel="stylesheet" href="css/skin.css">
    {% endblock %}
</head>
<body>
<nav class="navbar">
    <span class="brand">Image Cloud</span>
    <ul>
        <li><a class="active" href="">Accueil</a></li>
        <li><a href="/login">Connexion</a></li>
    </ul>
</nav>
    {% block body %}
    {% endblock %}
</body>
</html>
