{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="container-fluid">
        <h1>Bonjour</h1>
        {% for img in images %}
            <img src="public/images/{{ img }}" width="500">
        {% endfor %}
    </section>
{% endblock %}
