{% extends "base.html.twig" %}

{% block title %}Ajouter une image{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"
          integrity="sha256-p6xU9YulB7E2Ic62/PX+h59ayb3PBJ0WFTEQxq0EjHw=" crossorigin="anonymous"/>
    <style type="text/css">
        @media only screen and (max-width: 760px) {
            .dropfile {
                display: none !important;
            }
        }


        .dropfile {
            width: 100%;
            height: 300px;
            padding: 15px;
            border-style: dashed;
            border-color: #000;
            border-width: 1px;
            background-color: #ffffff;
            color: #000;
            transition: all 0.3s ease-out;
        }

        .dropfile.active {
            background-color: #ccc;
        }

        .custom-label-file:hover {
            cursor: pointer;
        }

        input[type="file"] {
            display: none;
        }

        .list-group-item {
            background: none;
            border: none;
        }

        #btnContinuer {
            display: none;
        }

        #loaderUpload {
            background-color: rgba(0, 0, 0, 0.5);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="result"></div>
    <form id="formAdd" class="container-fluid pt-5">
        <h1 class="text-center">
            <svg width="725.776220703125px" height="159.230029296875px" xmlns="http://www.w3.org/2000/svg"
                 viewBox="-112.88811035156249 -4.615014648437494 725.776220703125 159.230029296875"
                 style="background: rgba(0, 0, 0, 0);" preserveAspectRatio="xMidYMid" class="img-fluid">
                <defs>
                    <filter id="editing-hole" x="-100%" y="-100%" width="300%" height="300%">
                        <feFlood flood-color="#000" result="black"></feFlood>
                        <feMorphology operator="dilate" radius="2" in="SourceGraphic" result="erode"></feMorphology>
                        <feGaussianBlur in="erode" stdDeviation="4" result="blur"></feGaussianBlur>
                        <feOffset in="blur" dx="2" dy="2" result="offset"></feOffset>
                        <feComposite operator="atop" in="offset" in2="black" result="merge"></feComposite>
                        <feComposite operator="in" in="merge" in2="SourceGraphic" result="inner-shadow"></feComposite>
                    </filter>
                </defs>
                <g filter="url(#editing-hole)">
                    <g transform="translate(-6.537187494337559, 110.83499908447266)">
                        <path d="M77.57-23.45L77.57-23.45L85.53-23.62L85.53-23.62Q88.48-23.62 88.48-23.21L88.48-23.21L88.48-23.21Q88.48-22.14 76.51-21.32L76.51-21.32L76.51-21.32Q68.88-6.40 68.88-0.98L68.88-0.98L68.88-0.98Q68.88 2.79 71.26 2.79L71.26 2.79L71.26 2.79Q72.16 2.79 73.51 1.68L73.51 1.68L73.51 1.68Q74.87 0.57 75.15 0.57L75.15 0.57L75.15 0.57Q75.44 0.57 75.44 0.98L75.44 0.98L75.44 0.98Q75.03 2.46 72.94 3.44L72.94 3.44L72.94 3.44Q70.85 4.43 69.41 4.43L69.41 4.43L69.41 4.43Q67.98 4.43 67.16 4.26L67.16 4.26L67.16 4.26Q65.19 3.53 65.19-0.49L65.19-0.49L65.19-0.49Q65.19-8.77 71.50-21.57L71.50-21.57L61.66-21.32L61.66-21.32Q50.68-10.58 39.61-2.46L39.61-2.46L39.61-2.46Q23.04 9.59 13.69 9.59L13.69 9.59L13.69 9.59Q13.12 9.59 12.55 9.51L12.55 9.51L12.55 9.51Q-0.08 8.45-0.08-3.44L-0.08-3.44L-0.08-3.44Q-0.08-10.50 4.35-18.37L4.35-18.37L4.35-18.37Q10.25-28.86 20.50-36.29L20.50-36.29L20.50-36.29Q30.75-43.71 38.87-43.71L38.87-43.71L38.87-43.71Q46.99-43.71 46.99-37.72L46.99-37.72L46.99-37.72Q46.99-33.70 44.53-28.78L44.53-28.78L44.53-28.78Q42.07-23.86 39.52-22.55L39.52-22.55L39.52-22.55Q39.28-22.47 38.99-22.47L38.99-22.47L38.99-22.47Q38.70-22.47 38.70-22.63L38.70-22.63L41.41-27.06L41.41-27.06Q44.20-31.41 44.20-34.69L44.20-34.69L44.20-34.69Q44.20-37.97 42.76-39.98L42.76-39.98L42.76-39.98Q41.33-41.98 38.21-41.98L38.21-41.98L38.21-41.98Q31.82-41.98 22.92-34.85L22.92-34.85L22.92-34.85Q14.02-27.72 9.39-17.30L9.39-17.30L9.39-17.30Q4.76-6.89 4.76-1.07L4.76-1.07L4.76-1.07Q4.76 7.71 13.69 7.71L13.69 7.71L13.69 7.71Q22.22 7.71 36.82-3.28L36.82-3.28L36.82-3.28Q43.30-8.12 57.89-21.57L57.89-21.57L57.89-21.57Q55.02-21.40 52.56-20.99L52.56-20.99L52.56-20.99Q47.31-20.01 47.64-21.32L47.64-21.32L47.64-21.32Q47.97-24.35 50.76-24.35L50.76-24.35L50.76-24.35Q56.17-23.70 59.86-23.70L59.86-23.70L59.86-23.70Q66.91-30.18 80.93-44.94L80.93-44.94L80.93-44.94Q90.36-54.86 92.41-54.86L92.41-54.86L92.41-54.86Q93.32-54.86 93.32-53.46L93.32-53.46L93.32-53.46Q93.32-52.07 92.58-49.12L92.58-49.12L92.58-49.12Q91.84-46.17 90.94-45.51L90.94-45.51L90.94-45.51Q89.05-44.20 87.41-41.94L87.41-41.94L87.41-41.94Q85.77-39.69 82.74-33.50L82.74-33.50L82.74-33.50Q79.70-27.31 77.57-23.45ZM84.13-43.46L84.13-43.46L63.14-23.78L67.98-23.78L67.98-23.78Q69.70-23.70 72.24-23.70L72.24-23.70L72.24-23.70Q74.62-28.37 84.13-43.46ZM100.37-33.62L100.37-33.62Q101.60-33.62 102.70-32.80L102.70-32.80L102.70-32.80Q103.81-31.98 103.81-30.96L103.81-30.96L103.81-30.96Q103.81-29.93 102.79-29.15L102.79-29.15L102.79-29.15Q101.76-28.37 100.53-28.37L100.53-28.37L100.53-28.37Q99.30-28.37 98.28-29.23L98.28-29.23L98.28-29.23Q97.25-30.09 97.25-31.24L97.25-31.24L97.25-31.24Q97.25-33.62 100.37-33.62L100.37-33.62ZM98.81-22.30L98.81-22.30L98.81-22.30Q98.81-21.81 92.33-10.66L92.33-10.66L92.33-10.66Q86.02 1.39 82.57 6.15L82.57 6.15L82.57 6.15Q75.11 16.81 68.55 16.81L68.55 16.81L68.55 16.81Q66.09 16.81 64.00 15.21L64.00 15.21L64.00 15.21Q61.91 13.61 61.91 12.01L61.91 12.01L61.91 12.01Q61.91 10.41 62.65 10.41L62.65 10.41L62.65 10.41Q62.73 10.41 64.33 12.51L64.33 12.51L64.33 12.51Q65.93 14.60 68.06 14.60L68.06 14.60L68.06 14.60Q74.62 14.60 82.98-0.25L82.98-0.25L82.98-0.25Q88.15-9.51 90.04-15.25L90.04-15.25L90.04-15.25Q89.05-14.10 86.63-11.89L86.63-11.89L86.63-11.89Q84.21-9.68 83.68-9.68L83.68-9.68L83.68-9.68Q83.15-9.68 83.15-9.92L83.15-9.92L83.15-9.92Q83.15-10.66 84.46-11.81L84.46-11.81L84.46-11.81Q85.77-12.96 87.99-16.15L87.99-16.15L87.99-16.15Q90.20-19.35 90.61-19.68L90.61-19.68L93.32-22.55L93.32-22.55Q94.96-24.11 96.88-24.11L96.88-24.11L96.88-24.11Q98.81-24.11 98.81-22.30ZM121.52-17.38L121.52-17.38L121.52-17.38Q121.52-14.51 116.03-7.79L116.03-7.79L116.03-7.79Q109.55 0.16 104.96 0.16L104.96 0.16L103.65 0.16L103.65 0.16Q101.52 0.16 100.29-2.05L100.29-2.05L100.29-2.05Q99.30-3.61 99.30-5.49L99.30-5.49L99.30-5.49Q99.30-10.41 106.48-19.31L106.48-19.31L106.48-19.31Q113.65-28.21 118.08-28.21L118.08-28.21L118.08-28.21Q122.26-28.21 122.26-23.78L122.26-23.78L122.26-23.78Q122.26-22.63 121.85-20.83L121.85-20.83L121.85-20.83Q121.93-20.58 123.41-20.58L123.41-20.58L123.41-20.58Q124.89-20.58 127.92-22.14L127.92-22.14L127.92-22.14Q127.84-20.75 121.44-18.12L121.44-18.12L121.44-18.12Q121.52-17.79 121.52-17.38ZM116.19-21.65L116.19-21.65L116.19-21.65Q113.41-21.65 108.28-15.09L108.28-15.09L108.28-15.09Q103.16-8.53 103.16-5.41L103.16-5.41L103.16-5.41Q103.16-2.30 105.12-2.30L105.12-2.30L105.12-2.30Q108.65-2.30 114.06-8.69L114.06-8.69L114.06-8.69Q119.47-15.09 119.47-17.88L119.47-17.88L119.47-17.88Q118.16-18.61 116.19-21.65ZM146.12 0.49L146.12 0.49L146.12 0.49Q145.71 0.57 144.36 0.57L144.36 0.57L144.36 0.57Q143.01 0.57 141.66-0.49L141.66-0.49L141.66-0.49Q140.30-1.56 140.30-3.24L140.30-3.24L140.30-3.24Q140.30-4.92 140.92-6.97L140.92-6.97L140.92-6.97Q141.53-9.02 141.78-10.09L141.78-10.09L141.78-10.09Q132.35 0.90 127.02 0.90L127.02 0.90L127.02 0.90Q123.66 0.90 123.33-3.28L123.33-3.28L123.33-3.28Q123.33-3.61 123.33-3.85L123.33-3.85L123.33-3.85Q123.33-7.38 127.59-13.37L127.59-13.37L127.59-13.37Q125.21-11.23 122.75-8.45L122.75-8.45L122.75-8.45Q122.43-8.12 121.93-8.12L121.93-8.12L121.93-8.12Q121.61-8.12 121.61-8.53L121.61-8.53L121.61-8.53Q121.61-8.94 122.34-9.92L122.34-9.92L133.66-23.21L133.66-23.21Q135.79-25.67 138.01-25.67L138.01-25.67L138.01-25.67Q140.22-25.67 140.22-24.19L140.22-24.19L140.22-24.19Q140.22-23.62 139.73-23.12L139.73-23.12L139.73-23.12Q136.45-20.09 131.49-13.04L131.49-13.04L131.49-13.04Q126.53-5.99 126.53-2.62L126.53-2.62L126.53-2.62Q126.53-1.15 127.51-1.15L127.51-1.15L127.51-1.15Q130.95-1.15 137.51-7.95L137.51-7.95L137.51-7.95Q139.81-10.25 146.04-18.08L146.04-18.08L146.04-18.08Q152.27-25.91 154.24-25.91L154.24-25.91L154.24-25.91Q157.19-25.91 157.19-23.62L157.19-23.62L157.19-23.62Q157.19-22.80 153.75-18.86L153.75-18.86L153.75-18.86Q149.08-13.20 146.62-9.63L146.62-9.63L146.62-9.63Q144.16-6.07 144.16-3.85L144.16-3.85L144.16-3.85Q144.16-1.64 145.39-1.64L145.39-1.64L145.39-1.64Q145.96-1.64 146.70-1.97L146.70-1.97L146.70-1.97Q152.36-4.43 160.23-13.45L160.23-13.45L160.23-13.45Q160.72-14.02 161.21-14.02L161.21-14.02L161.21-14.02Q161.70-14.02 161.70-13.49L161.70-13.49L161.70-13.49Q161.70-12.96 161.13-12.30L161.13-12.30L161.13-12.30Q157.60-8.20 152.85-4.06L152.85-4.06L152.85-4.06Q148.09 0.08 146.12 0.49ZM179.42-26.40L179.42-26.40L191.22-26.57L191.22-26.57Q191.47-26.40 191.47-26.32L191.47-26.32L191.47-26.32Q191.47-25.58 181.26-24.27L181.26-24.27L181.26-24.27Q171.05-22.96 170.23-22.71L170.23-22.71L170.23-22.71Q168.67-21.32 164.49-14.39L164.49-14.39L164.49-14.39Q160.31-7.46 160.31-4.26L160.31-4.26L160.31-4.26Q160.31-1.23 164.49-1.23L164.49-1.23L164.49-1.23Q166.46-1.23 169.66-2.46L169.66-2.46L169.66-2.46Q172.86-3.69 174.58-4.76L174.58-4.76L174.58-4.76Q179.17-7.63 184.42-13.20L184.42-13.20L184.42-13.20Q185.57-14.35 185.98-14.35L185.98-14.35L185.98-14.35Q186.22-14.35 186.22-13.86L186.22-13.86L186.22-13.86Q186.22-13.37 184.99-11.89L184.99-11.89L184.99-11.89Q180.73-6.64 175.40-3.44L175.40-3.44L175.40-3.44Q169.00 0.49 163.18 0.49L163.18 0.49L163.18 0.49Q160.64 0.49 159.04-0.61L159.04-0.61L159.04-0.61Q157.44-1.72 157.44-5.08L157.44-5.08L157.44-5.08Q157.44-8.45 160.39-14.31L160.39-14.31L160.39-14.31Q163.34-20.17 164.90-23.04L164.90-23.04L164.90-23.04Q163.75-22.80 162.93-22.80L162.93-22.80L162.93-22.80Q160.56-22.80 160.56-24.68L160.56-24.68L160.56-24.68Q160.56-26.08 162.52-26.65L162.52-26.65L162.52-26.65Q162.77-26.65 163.26-26.73L163.26-26.73L168.02-26.73L168.02-26.73Q169.49-28.62 171.38-31.08L171.38-31.08L171.38-31.08Q173.68-34.03 174.50-34.03L174.50-34.03L174.50-34.03Q175.32-34.03 176.55-33.37L176.55-33.37L176.55-33.37Q177.78-32.72 177.78-31.82L177.78-31.82L177.78-31.82Q177.78-30.91 173.84-26.49L173.84-26.49L173.84-26.49Q175.97-26.40 179.42-26.40ZM186.55 1.07L186.55 1.07L186.55 1.07Q185.65 1.07 184.91 0.82L184.91 0.82L184.91 0.82Q179.66-0.66 179.66-5.08L179.66-5.08L179.66-5.08Q179.66-10.82 186.88-18.37L186.88-18.37L186.88-18.37Q194.09-25.91 199.83-25.91L199.83-25.91L199.83-25.91Q201.72-25.91 202.91-24.89L202.91-24.89L202.91-24.89Q204.10-23.86 204.10-22.39L204.10-22.39L204.10-22.39Q204.10-17.79 197.17-13.61L197.17-13.61L197.17-13.61Q190.24-9.43 185.89-9.43L185.89-9.43L185.89-9.43Q185.24-9.43 184.75-9.59L184.75-9.59L184.75-9.59Q183.52-7.38 183.52-4.92L183.52-4.92L183.52-4.92Q183.52-0.66 187.58-0.66L187.58-0.66L187.58-0.66Q191.63-0.66 198.11-6.15L198.11-6.15L198.11-6.15Q203.11-10.17 206.64-14.68L206.64-14.68L206.64-14.68Q207.38-15.66 207.91-15.66L207.91-15.66L207.91-15.66Q208.44-15.66 208.44-15.17L208.44-15.17L208.44-15.17Q208.44-14.68 207.79-13.78L207.79-13.78L207.79-13.78Q203.36-7.95 197.13-3.44L197.13-3.44L197.13-3.44Q190.90 1.07 186.55 1.07ZM202.05-22.55L202.05-22.55L202.05-22.55Q202.05-23.53 199.96-23.53L199.96-23.53L199.96-23.53Q197.87-23.53 194.01-20.34L194.01-20.34L194.01-20.34Q188.85-16.07 185.98-11.40L185.98-11.40L185.98-11.40Q186.47-11.23 187.04-11.23L187.04-11.23L187.04-11.23Q190.16-11.23 195.37-14.56L195.37-14.56L195.37-14.56Q200.57-17.88 201.88-21.81L201.88-21.81L201.88-21.81Q202.05-22.22 202.05-22.55ZM220.17 0.41L220.17 0.41L220.17 0.41Q214.02 0.41 214.02-6.40L214.02-6.40L214.02-6.40Q214.02-9.84 215.82-13.94L215.82-13.94L215.82-13.94Q217.63-18.04 219.76-20.83L219.76-20.83L219.76-20.83Q219.35-20.75 218.69-20.75L218.69-20.75L218.69-20.75Q216.73-20.75 215.41-23.53L215.41-23.53L209.35-15.66L209.35-15.66Q204.26-9.35 203.44-9.35L203.44-9.35L203.44-9.35Q203.03-9.35 203.03-9.68L203.03-9.68L203.03-9.68Q203.03-10.50 204.43-12.05L204.43-12.05L204.43-12.05Q211.56-20.34 214.51-26.08L214.51-26.08L214.51-26.08Q216.40-33.21 219.27-33.21L219.27-33.21L219.27-33.21Q221.15-33.21 221.15-31.57L221.15-31.57L221.15-31.57Q221.15-29.93 219.10-27.39L219.10-27.39L217.14-24.76L217.14-24.76Q217.14-23.04 219.68-23.04L219.68-23.04L219.68-23.04Q221.15-23.04 222.96-24.11L222.96-24.11L225.09-25.42L225.09-25.42Q225.25-25.50 225.91-25.50L225.91-25.50L225.91-25.50Q226.57-25.50 227.30-24.68L227.30-24.68L227.30-24.68Q228.04-23.86 227.80-23.21L227.80-23.21L222.14-16.07L222.14-16.07Q216.89-9.35 216.89-5.45L216.89-5.45L216.89-5.45Q216.89-1.56 220.50-1.56L220.50-1.56L220.50-1.56Q224.27-1.56 229.76-5.58L229.76-5.58L229.76-5.58Q233.04-7.95 235.75-10.91L235.75-10.91L235.75-10.91Q238.29-13.86 238.54-13.86L238.54-13.86L238.54-13.86Q239.11-13.86 239.11-13.24L239.11-13.24L239.11-13.24Q239.11-12.63 238.37-11.81L238.37-11.81L235.75-8.86L235.75-8.86Q233.54-6.56 230.83-4.43L230.83-4.43L230.83-4.43Q224.35 0.41 220.17 0.41ZM274.95 0.49L274.95 0.49L274.95 0.49Q274.54 0.57 273.18 0.57L273.18 0.57L273.18 0.57Q271.83 0.57 270.48-0.49L270.48-0.49L270.48-0.49Q269.12-1.56 269.12-3.24L269.12-3.24L269.12-3.24Q269.12-4.92 269.74-6.97L269.74-6.97L269.74-6.97Q270.35-9.02 270.60-10.09L270.60-10.09L270.60-10.09Q261.17 0.90 255.84 0.90L255.84 0.90L255.84 0.90Q252.48 0.90 252.15-3.28L252.15-3.28L252.15-3.28Q252.15-3.61 252.15-3.85L252.15-3.85L252.15-3.85Q252.15-7.38 256.41-13.37L256.41-13.37L256.41-13.37Q254.04-11.23 251.58-8.45L251.58-8.45L251.58-8.45Q251.25-8.12 250.76-8.12L250.76-8.12L250.76-8.12Q250.43-8.12 250.43-8.53L250.43-8.53L250.43-8.53Q250.43-8.94 251.17-9.92L251.17-9.92L262.48-23.21L262.48-23.21Q264.61-25.67 266.83-25.67L266.83-25.67L266.83-25.67Q269.04-25.67 269.04-24.19L269.04-24.19L269.04-24.19Q269.04-23.62 268.55-23.12L268.55-23.12L268.55-23.12Q265.27-20.09 260.31-13.04L260.31-13.04L260.31-13.04Q255.35-5.99 255.35-2.62L255.35-2.62L255.35-2.62Q255.35-1.15 256.33-1.15L256.33-1.15L256.33-1.15Q259.78-1.15 266.34-7.95L266.34-7.95L266.34-7.95Q268.63-10.25 274.86-18.08L274.86-18.08L274.86-18.08Q281.10-25.91 283.06-25.91L283.06-25.91L283.06-25.91Q286.02-25.91 286.02-23.62L286.02-23.62L286.02-23.62Q286.02-22.80 282.57-18.86L282.57-18.86L282.57-18.86Q277.90-13.20 275.44-9.63L275.44-9.63L275.44-9.63Q272.98-6.07 272.98-3.85L272.98-3.85L272.98-3.85Q272.98-1.64 274.21-1.64L274.21-1.64L274.21-1.64Q274.78-1.64 275.52-1.97L275.52-1.97L275.52-1.97Q281.18-4.43 289.05-13.45L289.05-13.45L289.05-13.45Q289.54-14.02 290.03-14.02L290.03-14.02L290.03-14.02Q290.53-14.02 290.53-13.49L290.53-13.49L290.53-13.49Q290.53-12.96 289.95-12.30L289.95-12.30L289.95-12.30Q286.43-8.20 281.67-4.06L281.67-4.06L281.67-4.06Q276.91 0.08 274.95 0.49ZM300.04-25.91L300.04-25.91L300.04-25.91Q302.25-25.91 302.25-24.19L302.25-24.19L302.25-24.19Q302.25-23.70 302.01-23.21L302.01-23.21L302.01-23.21Q294.63-12.96 293.15-7.71L293.15-7.71L293.15-7.71Q312.26-26.81 316.36-26.81L316.36-26.81L316.36-26.81Q316.77-26.90 317.09-26.90L317.09-26.90L317.09-26.90Q319.39-26.90 319.39-24.85L319.39-24.85L319.39-24.85Q319.39-24.44 319.23-24.03L319.23-24.03L319.23-24.03Q319.06-23.62 315.95-19.60L315.95-19.60L315.95-19.60Q312.34-15.33 309.84-11.40L309.84-11.40L309.84-11.40Q307.34-7.46 307.34-4.84L307.34-4.84L307.34-4.84Q307.34-2.21 308.48-2.21L308.48-2.21L308.48-2.21Q312.09-2.21 321.03-12.14L321.03-12.14L321.03-12.14Q321.19-12.30 321.60-12.87L321.60-12.87L321.60-12.87Q322.83-14.35 323.08-14.35L323.08-14.35L323.08-14.35Q323.33-14.35 323.33-13.53L323.33-13.53L323.33-13.53Q323.33-12.71 322.18-11.40L322.18-11.40L322.18-11.40Q312.01 0.16 307.75 0.16L307.75 0.16L307.75 0.16Q303.73 0.16 303.73-4.26L303.73-4.26L303.73-4.26Q303.73-8.69 307.01-14.43L307.01-14.43L312.26-22.96L312.26-22.96Q306.68-18.86 302.33-13.98L302.33-13.98L302.33-13.98Q297.99-9.10 294.42-4.51L294.42-4.51L294.42-4.51Q290.85 0.08 290.28 0.08L290.28 0.08L290.28 0.08Q289.05 0.08 288.35-0.94L288.35-0.94L288.35-0.94Q287.66-1.97 287.66-3.49L287.66-3.49L287.66-3.49Q287.66-5.00 288.72-7.54L288.72-7.54L288.72-7.54Q289.79-10.09 291.43-13.69L291.43-13.69L286.51-8.53L286.51-8.53Q284.70-6.72 284.25-6.72L284.25-6.72L284.25-6.72Q283.80-6.72 283.80-7.26L283.80-7.26L283.80-7.26Q283.80-7.79 284.46-8.45L284.46-8.45L284.46-8.45Q287.49-11.48 289.71-14.27L289.71-14.27L289.71-14.27Q291.84-17.06 298.48-24.93L298.48-24.93L298.48-24.93Q299.22-25.91 300.04-25.91ZM324.06 1.07L324.06 1.07L324.06 1.07Q323.16 1.07 322.42 0.82L322.42 0.82L322.42 0.82Q317.18-0.66 317.18-5.08L317.18-5.08L317.18-5.08Q317.18-10.82 324.39-18.37L324.39-18.37L324.39-18.37Q331.61-25.91 337.35-25.91L337.35-25.91L337.35-25.91Q339.23-25.91 340.42-24.89L340.42-24.89L340.42-24.89Q341.61-23.86 341.61-22.39L341.61-22.39L341.61-22.39Q341.61-17.79 334.68-13.61L334.68-13.61L334.68-13.61Q327.75-9.43 323.41-9.43L323.41-9.43L323.41-9.43Q322.75-9.43 322.26-9.59L322.26-9.59L322.26-9.59Q321.03-7.38 321.03-4.92L321.03-4.92L321.03-4.92Q321.03-0.66 325.09-0.66L325.09-0.66L325.09-0.66Q329.15-0.66 335.63-6.15L335.63-6.15L335.63-6.15Q340.63-10.17 344.15-14.68L344.15-14.68L344.15-14.68Q344.89-15.66 345.43-15.66L345.43-15.66L345.43-15.66Q345.96-15.66 345.96-15.17L345.96-15.17L345.96-15.17Q345.96-14.68 345.30-13.78L345.30-13.78L345.30-13.78Q340.87-7.95 334.64-3.44L334.64-3.44L334.64-3.44Q328.41 1.07 324.06 1.07ZM339.56-22.55L339.56-22.55L339.56-22.55Q339.56-23.53 337.47-23.53L337.47-23.53L337.47-23.53Q335.38-23.53 331.53-20.34L331.53-20.34L331.53-20.34Q326.36-16.07 323.49-11.40L323.49-11.40L323.49-11.40Q323.98-11.23 324.56-11.23L324.56-11.23L324.56-11.23Q327.67-11.23 332.88-14.56L332.88-14.56L332.88-14.56Q338.09-17.88 339.40-21.81L339.40-21.81L339.40-21.81Q339.56-22.22 339.56-22.55ZM374.99-33.46L374.99-33.46Q376.22-33.46 377.32-32.68L377.32-32.68L377.32-32.68Q378.43-31.90 378.43-30.83L378.43-30.83L378.43-30.83Q378.43-29.77 377.41-28.99L377.41-28.99L377.41-28.99Q376.38-28.21 375.15-28.21L375.15-28.21L375.15-28.21Q373.92-28.21 372.89-29.11L372.89-29.11L372.89-29.11Q371.87-30.01 371.87-31.16L371.87-31.16L371.87-31.16Q371.87-33.46 374.99-33.46L374.99-33.46ZM360.14 0.90L360.14 0.90L360.14 0.90Q355.96 0.90 355.96-4.51L355.96-4.51L355.96-4.51Q355.96-8.94 360.80-16.77L360.80-16.77L360.80-16.77Q365.64-24.60 368.59-24.68L368.59-24.68L368.59-24.68Q369.41-24.68 370.44-24.03L370.44-24.03L370.44-24.03Q371.46-23.37 371.46-22.71L371.46-22.71L371.46-22.71Q371.05-22.14 370.48-21.44L370.48-21.44L370.48-21.44Q369.90-20.75 369.25-19.93L369.25-19.93L369.25-19.93Q368.59-19.11 367.44-17.59L367.44-17.59L367.44-17.59Q366.29-16.07 365.23-14.68L365.23-14.68L365.23-14.68Q359.08-6.72 359.08-3.73L359.08-3.73L359.08-3.73Q359.08-0.74 361.13-0.74L361.13-0.74L361.13-0.74Q362.85-0.74 365.80-2.62L365.80-2.62L365.80-2.62Q372.69-6.89 376.71-11.97L376.71-11.97L376.71-11.97Q378.18-13.86 378.72-13.86L378.72-13.86L378.72-13.86Q379.25-13.86 379.25-13.20L379.25-13.20L379.25-13.20Q379.25-12.55 377.36-10.58L377.36-10.58L377.36-10.58Q375.48-8.61 374.37-7.46L374.37-7.46L374.37-7.46Q373.26-6.31 372.85-5.95L372.85-5.95L372.85-5.95Q372.44-5.58 371.34-4.55L371.34-4.55L371.34-4.55Q370.23-3.53 369.66-3.12L369.66-3.12L369.66-3.12Q369.08-2.71 368.02-1.89L368.02-1.89L368.02-1.89Q366.95-1.07 366.13-0.70L366.13-0.70L366.13-0.70Q365.31-0.33 364.24 0.16L364.24 0.16L364.24 0.16Q362.52 0.90 360.14 0.90ZM414.92-0.98L414.92-0.98L414.92-0.98Q409.34-0.98 409.34-6.15L409.34-6.15L409.34-6.15Q409.34-9.10 411.97-14.23L411.97-14.23L411.97-14.23Q414.59-19.35 417.46-22.88L417.46-22.88L417.46-22.88Q412.38-20.42 405.74-13.98L405.74-13.98L405.74-13.98Q399.09-7.54 396.47-0.49L396.47-0.49L396.47-0.49Q396.06 0.16 395.08 0.16L395.08 0.16L395.08 0.16Q393.11 0.16 393.11-2.05L393.11-2.05L393.11-2.05Q393.93-6.56 396.80-12.38L396.80-12.38L396.80-12.38Q397.70-14.27 402.13-23.37L402.13-23.37L402.13-23.37Q395.73-19.19 391.26-14.39L391.26-14.39L391.26-14.39Q386.79-9.59 382.98-4.76L382.98-4.76L382.98-4.76Q379.17 0.08 378.68 0.08L378.68 0.08L378.68 0.08Q377.61 0.08 376.83-0.90L376.83-0.90L376.83-0.90Q376.05-1.89 376.05-2.87L376.05-2.87L376.05-2.87Q376.05-4.35 380.32-13.69L380.32-13.69L375.40-8.53L375.40-8.53Q373.59-6.72 373.14-6.72L373.14-6.72L373.14-6.72Q372.69-6.72 372.69-7.26L372.69-7.26L372.69-7.26Q372.69-7.79 373.35-8.45L373.35-8.45L373.35-8.45Q376.38-11.48 378.76-14.51L378.76-14.51L378.76-14.51Q381.14-17.55 386.63-25.34L386.63-25.34L386.63-25.34Q387.53-26.57 389.17-26.57L389.17-26.57L389.17-26.57Q390.81-26.57 390.81-25.01L390.81-25.01L390.81-25.01Q390.81-24.44 386.47-17.02L386.47-17.02L386.47-17.02Q382.12-9.59 381.63-7.71L381.63-7.71L381.63-7.71Q384.99-11.40 391.71-17.63L391.71-17.63L391.71-17.63Q401.80-26.98 405.00-26.98L405.00-26.98L405.00-26.98Q405.98-26.98 406.80-26.40L406.80-26.40L406.80-26.40Q407.62-25.83 407.62-25.13L407.62-25.13L407.62-25.13Q407.62-24.44 404.42-18.94L404.42-18.94L404.42-18.94Q401.31-13.28 400.98-12.22L400.98-12.22L400.98-12.22Q410.08-19.84 410.08-19.93L410.08-19.93L410.08-19.93Q417.79-25.91 421.15-25.91L421.15-25.91L421.15-25.91Q422.14-25.91 423.00-25.30L423.00-25.30L423.00-25.30Q423.86-24.68 423.86-23.86L423.86-23.86L423.86-23.86Q423.86-23.70 418.53-16.93L418.53-16.93L418.53-16.93Q413.20-10.17 412.54-5.82L412.54-5.82L412.54-5.82Q412.38-4.35 413.12-3.61L413.12-3.61L413.12-3.61Q413.85-2.87 415.78-2.87L415.78-2.87L415.78-2.87Q417.71-2.87 421.44-5.54L421.44-5.54L421.44-5.54Q425.17-8.20 429.02-12.71L429.02-12.71L429.02-12.71Q430.50-14.35 431.03-14.35L431.03-14.35L431.03-14.35Q431.57-14.35 431.57-13.94L431.57-13.94L431.57-13.94Q431.57-13.37 430.83-12.63L430.83-12.63L430.83-12.63Q426.81-7.79 422.18-4.39L422.18-4.39L422.18-4.39Q417.54-0.98 414.92-0.98ZM454.69-24.52L454.69-24.52L455.84-24.76L455.84-24.76Q456.74-24.76 457.56-24.03L457.56-24.03L457.56-24.03Q458.38-23.29 458.38-22.88L458.38-22.88L458.38-22.88Q458.38-22.47 453.30-14.96L453.30-14.96L453.30-14.96Q448.21-7.46 448.21-4.51L448.21-4.51L448.21-4.51Q448.21-4.26 448.29-4.02L448.29-4.02L448.29-4.02Q448.70-2.13 450.10-2.13L450.10-2.13L450.10-2.13Q454.36-2.13 465.68-16.24L465.68-16.24L465.68-16.24Q465.92-16.56 466.25-16.56L466.25-16.56L466.25-16.56Q466.58-16.56 466.58-15.95L466.58-15.95L466.58-15.95Q466.58-15.33 465.84-14.35L465.84-14.35L465.84-14.35Q455.35-0.33 449.85-0.33L449.85-0.33L449.85-0.33Q449.11-0.33 448.46-0.57L448.46-0.57L448.46-0.57Q444.85-1.97 444.85-5.99L444.85-5.99L444.85-5.99Q444.85-7.38 445.18-8.77L445.18-8.77L440.09-3.85L440.09-3.85Q435.26 0.41 433.08 0.41L433.08 0.41L433.08 0.41Q430.91 0.41 428.94-0.98L428.94-0.98L428.94-0.98Q426.73-2.62 426.73-5.33L426.73-5.33L426.73-5.33Q426.73-11.32 435.09-19.64L435.09-19.64L435.09-19.64Q443.46-27.96 450.43-27.96L450.43-27.96L450.43-27.96Q453.13-27.96 454.03-26.08L454.03-26.08L454.03-26.08Q454.28-25.42 454.44-24.97L454.44-24.97L454.44-24.97Q454.61-24.52 454.69-24.52ZM430.17-4.35L430.17-4.35L430.17-4.35Q430.17-1.39 432.22-1.39L432.22-1.39L432.22-1.39Q436.98-1.39 445.18-11.81L445.18-11.81L453.87-23.78L453.87-23.78Q453.21-24.93 451.74-24.93L451.74-24.93L451.74-24.93Q446.74-24.93 438.45-17.18L438.45-17.18L438.45-17.18Q430.17-9.43 430.17-4.35ZM488.64-25.01L488.64-25.01L489.79-25.26L489.79-25.26Q490.85-25.26 491.47-24.60L491.47-24.60L491.47-24.60Q492.08-23.94 492.08-23.57L492.08-23.57L492.08-23.57Q492.08-23.21 492-22.76L492-22.76L492-22.76Q491.92-22.30 489.62-18.61L489.62-18.61L489.62-18.61Q486.75-13.61 484.87-10.17L484.87-10.17L484.87-10.17Q478.22 2.21 474.70 6.81L474.70 6.81L474.70 6.81Q467.15 16.81 460.35 16.81L460.35 16.81L460.35 16.81Q457.97 16.81 456.21 14.80L456.21 14.80L456.21 14.80Q454.44 12.79 454.36 10.33L454.36 10.33L454.36 10.33Q454.61 9.35 455.10 9.35L455.10 9.35L455.10 9.35Q455.35 9.35 455.51 9.92L455.51 9.92L455.51 9.92Q455.92 12.05 457.07 13.20L457.07 13.20L457.07 13.20Q458.22 14.35 459.36 14.35L459.36 14.35L459.36 14.35Q464.04 14.35 469.37 8.20L469.37 8.20L469.37 8.20Q472.89 4.10 477.16-3.77L477.16-3.77L481.26-11.89L475.11-5.66L475.11-5.66Q469.20 0 467.03 0L467.03 0L467.03 0Q464.86 0 462.89-1.48L462.89-1.48L462.89-1.48Q460.68-3.12 460.68-5.82L460.68-5.82L460.68-5.82Q460.68-11.81 469.08-20.09L469.08-20.09L469.08-20.09Q477.49-28.37 484.37-28.37L484.37-28.37L484.37-28.37Q487.16-28.37 487.98-26.57L487.98-26.57L487.98-26.57Q488.23-25.91 488.39-25.46L488.39-25.46L488.39-25.46Q488.56-25.01 488.64-25.01ZM464.12-4.84L464.12-4.84L464.12-4.84Q464.12-1.89 466.17-1.89L466.17-1.89L466.17-1.89Q470.93-1.89 479.13-12.30L479.13-12.30L487.82-24.27L487.82-24.27Q487.33-25.42 485.77-25.42L485.77-25.42L485.77-25.42Q480.68-25.42 472.40-17.59L472.40-17.59L472.40-17.59Q464.12-9.76 464.12-4.84ZM495.77 1.07L495.77 1.07L495.77 1.07Q494.87 1.07 494.13 0.82L494.13 0.82L494.13 0.82Q488.88-0.66 488.88-5.08L488.88-5.08L488.88-5.08Q488.88-10.82 496.10-18.37L496.10-18.37L496.10-18.37Q503.32-25.91 509.06-25.91L509.06-25.91L509.06-25.91Q510.94-25.91 512.13-24.89L512.13-24.89L512.13-24.89Q513.32-23.86 513.32-22.39L513.32-22.39L513.32-22.39Q513.32-17.79 506.39-13.61L506.39-13.61L506.39-13.61Q499.46-9.43 495.12-9.43L495.12-9.43L495.12-9.43Q494.46-9.43 493.97-9.59L493.97-9.59L493.97-9.59Q492.74-7.38 492.74-4.92L492.74-4.92L492.74-4.92Q492.74-0.66 496.80-0.66L496.80-0.66L496.80-0.66Q500.86-0.66 507.33-6.15L507.33-6.15L507.33-6.15Q512.34-10.17 515.86-14.68L515.86-14.68L515.86-14.68Q516.60-15.66 517.13-15.66L517.13-15.66L517.13-15.66Q517.67-15.66 517.67-15.17L517.67-15.17L517.67-15.17Q517.67-14.68 517.01-13.78L517.01-13.78L517.01-13.78Q512.58-7.95 506.35-3.44L506.35-3.44L506.35-3.44Q500.12 1.07 495.77 1.07ZM511.27-22.55L511.27-22.55L511.27-22.55Q511.27-23.53 509.18-23.53L509.18-23.53L509.18-23.53Q507.09-23.53 503.23-20.34L503.23-20.34L503.23-20.34Q498.07-16.07 495.20-11.40L495.20-11.40L495.20-11.40Q495.69-11.23 496.26-11.23L496.26-11.23L496.26-11.23Q499.38-11.23 504.59-14.56L504.59-14.56L504.59-14.56Q509.79-17.88 511.11-21.81L511.11-21.81L511.11-21.81Q511.27-22.22 511.27-22.55Z"
                              fill="#ccc"></path>
                    </g>
                </g>
                <style>text {
                        font-size: 64px;
                        font-family: Arial Black;
                        dominant-baseline: central;
                        text-anchor: middle;
                    }</style>
            </svg>
        </h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="dropfile d-flex align-items-center justify-content-center"></div>
                <label class="btn btn-outline-dark rounded-0 float-right my-3 custom-label-file"> Ajouter une image
                    <input type="file" id="inputImage">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mx-auto" id="preview">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <button type="submit" class="btn btn-outline-dark btn-lg rounded-0 mb-3" id="btnContinuer">Continuer
                </button>
            </div>
        </div>
    </form>
    <form id="formImage" class="container-fluid">
    </form>
    <div id="loaderUpload">
        <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <div class="spinner-border text-light" role="status"><span class="sr-only">Loading...</span></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var file_to_upload = null;

        function makePreview(files) {
            $('#preview').html("");
            $('#formImage').html("");
            let file = files[0];
            let html;
            if (options.whitelist.indexOf(file.type) !== -1) {
                let url = URL.createObjectURL(file);
                html = $('<img>');
                html.attr('src', url);
                html.addClass('w-100 img-thumbnails shadow mb-3');

                file_to_upload = file;

                $('#btnContinuer').fadeIn(100);
            } else {
                html = $('<div class="alert alert-danger rounded-0 mb-3">Fichier invalide</div>');
                file_to_upload = null;
            }
            $('#preview').html(html);
        }

        var options = {
            message: "Déposez votre image ici",
            whitelist: [
                "image/png",
                "image/jpeg",
                "image/gif",
            ]
        };

        $.fn.dropfile = function (args) {
            if (args) $.extend(options, args);
            this.each(function () {
                $(this).html(
                    $('<span>')
                        .addClass('lead')
                        .append(options.message)
                );

                $(this).bind({
                    dragenter: function (e) {
                        e.preventDefault();
                    },
                    dragover: function (e) {
                        e.preventDefault();
                        $(this).addClass('active');
                    },
                    dragleave: function (e) {
                        e.preventDefault();
                        $(this).removeClass('active');
                    },
                });

                this.addEventListener('drop', function (e) {
                    e.preventDefault();
                    $(this).removeClass('active');
                    let files = e.dataTransfer.files;
                    makePreview(files);
                }, false);
            });
        };

        $('#inputImage').change(function (e) {
            makePreview(this.files)
        });
        $('.dropfile').dropfile();

        $('#formAdd').on('submit', function (e) {
            e.preventDefault();
            if (file_to_upload !== null) {
                let formData = new FormData();
                formData.append('image', file_to_upload);

                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/devoir-idc2019/ajax/image-pending');
                xhr.file = file_to_upload;

                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        $('#btnContinuer').fadeOut(100);
                        $('#formImage').html(xhr.responseText);
                        $('#formTabs').tabs();
                    }
                    $('#btnContinuer').html("Continuer");
                };

                xhr.addEventListener('loadstart', function (e) {
                    $('#btnContinuer').html(
                        '<div class="spinner-grow" role="status">' +
                        '  <span class="sr-only">Loading...</span>' +
                        '</div>'
                    );
                });
                xhr.send(formData);

            } else {
                let html = $('<div class="alert alert-danger rounded-0 mb-3">Fichier invalide ou inexistant</div>');
                $('#preview').html(html);
            }
        });

        $('#formImage').on('submit', function (e) {
            e.preventDefault();
            let formData = new FormData(this);
            formData.append("file", file_to_upload);
            $.ajax({
                url: '/devoir-idc2019/ajax/upload',
                method: 'post',
                cache: false,
                contentType: false,
                processData: false,
                data: formData,
                beforeSend: function () {
                    $('#loaderUpload').fadeIn();
                },
                success: function (data) {
                    $('#loaderUpload').fadeOut();
                    window.location = '/devoir-idc2019/';
                }
            })
        });

    </script>
{% endblock %}
