{% extends "base.html.twig" %}

{% block title %}Ajouter une image{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        @media only screen and (max-width: 760px) {
            .dropfile {
                display: none !important;
            }
        }


        .dropfile {
            width: 100%;
            height: 300px;
            padding: 15px;
            border-style: dashed;
            border-color: #000;
            border-width: 1px;
            background-color: #ffffff;
            color: #000;
            transition: all 0.3s ease-out;
        }

        .dropfile.active {
            background-color: #ccc;
        }

        label:hover {
            cursor: pointer;
        }

        input[type="file"] {
            display: none;
        }

    </style>
{% endblock %}

{% block body %}
    <form class="container-fluid pt-5">
        <h1 class="text-center">Ajouter une image</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="dropfile d-flex align-items-center justify-content-center"></div>
                <label class="btn btn-outline-dark rounded-0 float-right my-3"> Ajouter une image
                    <input type="file" id="inputImage">
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 mx-auto" id="preview">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <input type="submit" class="btn btn-outline-dark btn-lg rounded-0 mb-3" value="Continuer">
            </div>
        </div>
    </form>
    <div id="result"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var file_to_upload = null;

        function makeForm(files) {
            let file = files[0];
            let html;
            if (options.whitelist.indexOf(file.type) !== -1) {
                let url = URL.createObjectURL(file);
                html = $('<img>');
                html.attr('src', url);
                html.addClass('w-100 img-thumbnail shadow mb-3');
                file_to_upload = file;
            } else {
                html = $('<div class="alert alert-danger rounded-0 mb-3">Fichier invalide</div>');
                file_to_upload = null;
            }
            $('#preview').html(html);
        }

        var options = {
            message: "Déposez votre image ici",
            whitelist: [
                "image/png",
                "image/jpeg",
                "image/gif",
            ]
        };

        $.fn.dropfile = function (args) {
            if (args) $.extend(options, args);
            this.each(function () {
                $(this).html(
                    $('<span>')
                        .addClass('lead')
                        .append(options.message)
                );

                $(this).bind({
                    dragenter: function (e) {
                        e.preventDefault();
                    },
                    dragover: function (e) {
                        e.preventDefault();
                        $(this).addClass('active');
                    },
                    dragleave: function (e) {
                        e.preventDefault();
                        $(this).removeClass('active');
                    },
                });

                this.addEventListener('drop', function (e) {
                    e.preventDefault();
                    $(this).removeClass('active');

                    let files = e.dataTransfer.files;
                    makeForm(files);
                }, false);
            });
        };

        $('#inputImage').change(function (e) {
            makeForm(this.files)
        });
        $('.dropfile').dropfile();

        $('form').on('submit', function (e) {
            e.preventDefault();
            if (file_to_upload !== null) {
                let formData = new FormData();
                formData.append('image', file_to_upload);

                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/devoir-idc2019/ajax/image-pending');
                xhr.file = file_to_upload;
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        $('#result').html(xhr.responseText);
                    }
                };
                xhr.send(formData);

            } else {
                let html = $('<div class="alert alert-danger rounded-0 mb-3">Fichier invalide ou inexistant</div>');
                $('#preview').html(html);
            }
        });
    </script>
{% endblock %}
